* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    background-color: #000;
}
header {
    margin-top: 2em;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: ghostwhite;
}
main {
    padding: 2em;
    max-width: 900px;
    border-radius: 3px;
}
li {
    display: flex;
    gap: 1em;
    color: white;
}
form{
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}
button {
    background-color: #dd0606; /* Green */
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
input {
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}
li{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 1em;
}
.checkRead{
    display: flex;
    align-items: center;
    gap: 1em;
}
.title, .author {
    display: flex;
    align-items: center;
}